<button (click)="openModal()" class="btn btn-primary">New</button>
<ng-template #myModal>
<div class="modal-header">
    <!--<h4 class="modal-title pull-left">Create New User</h4>-->
    <h4 class="modal-title pull-left">{{ modalAttributes.title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #f="ngForm"
          (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="nameInput">Name:</label>
        <input type="text"
               id="nameInput"
               placeholder="First name"
               [(ngModel)]="newUser.name"
               name="name"
               required minlength="3" maxlength="10"
               #name="ngModel"
               class="form-control">
        <div *ngIf="name.errors && (name.dirty || name.touched)"
             class="alert alert-danger">
          <div [hidden]="!name.errors.required">
            Required
          </div>
          <div [hidden]="!name.errors.minlength">
            At least 3 characters
          </div>
          <div [hidden]="!name.errors.maxlength">
            Not more than 10 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="surnameInput">Surname:</label>
        <input type="text"
               id="surnameInput"
               placeholder="Lastname"
               [(ngModel)]="newUser.surname"
               name="surname"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="emailInput">Email:</label>
        <input type="text"
               id="emailInput"
               placeholder="some@mail.example"
               [(ngModel)]="newUser.mail"
               email name="email"
               #mail="ngModel"
               class="form-control">
        <div *ngIf="mail.errors && (mail.dirty || mail.touched)"
             class="alert alert-danger">
          <div [hidden]="!mail.errors.email">
            Email is wrong!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="ageInput">Age:</label>
        <input type="text"
               id="ageInput"
               placeholder="0"
               [(ngModel)]="newUser.age"
               name="age"
               #age="ngModel"
               class="form-control">
        <div *ngIf="age.errors && (age.dirty || age.touched)"
             class="alert alert-danger">
          <div [hidden]="!age.errors.minNumber">
            Negative age!
          </div>
        </div>
      </div>

      <!--<div class="field">
        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Add</button>
      </div>-->
      <div class="field">
        <button type="submit"
                class="btn btn-primary"
                [ngClass]="['btn', modalAttributes.btnClass]"
                [disabled]="!f.form.valid">
          {{ modalAttributes.btnCaption }}
        </button>
      </div>

    </form>
  </div>
</ng-template>
